<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <dict>
            <key>Crashed</key>
            <true/>
        </dict>
        <key>Label</key>
        <string>imessage-bridge</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Library/imessage-bridge/mautrix-imessage</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>/Library/imessage-bridge/errors.log</string>
        <key>StandardOutPath</key>
        <string>/Library/imessage-bridge/out.log</string>
        <key>WorkingDirectory</key>
        <string>/Library/imessage-bridge/</string>
    </dict>
</plist>
